<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Site</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon3.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>My Site!</h1>
    </header>

    <main>
        <section>
            <h2>Температура LM75:</h2>
            <p>{{ dataLM }} &deg;C</p>
        </section>

        <section>
            <h2>Температура DS18B20:</h2>
            <p>{{ dataDS }} &deg;C</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 My Site.</p>
    </footer>

    <script>
        setTimeout(function(){
            location.reload();
        }, 500);
    </script>
</body>
</html>
